extends layout

block content
    div
        span#range Range is between 0 and 9 inclusive:

        &nbsp;
        
        input#input(type="number", placeholder="type your number")
        
        &nbsp;

        button#submit submit

    div
        span#result <i>Game started, you have 3 tries.</i>


